.contenitoreCategorie{
    display: flex;
    flex-wrap:wrap;
    text-align: left;


}

.contenitoreCategorie > div{
    text-align:center;
    margin:20px;
    border: 2px solid;
    width:500px;
}

