
.contenitoreFiltro{
    position: sticky;
    top:80px;

    left: 45px;
    height: 800px;
    width: 300px ;
    background: blue;
    float: left;
    display:none;
}




.contenitore-listaStrumenti{

    display:flex;
    width:100%;
    flex-wrap:wrap;
    margin-left:30px;
}

.strumentoMusicale{
    border:6px solid #a11b28;
    display:flex;
    flex-direction: column;
    background:white;
    margin-bottom:20px;
    margin-left:30px;
    margin-right:30px;
    margin-top:20px;
    width:300px;
}

.strumentoMusicale img{
    width:300px;
    height:400px;
}

.strumentomusicale label{
    color:blue;
}

